{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 130,
  "singleQuote": true,
  "trailingComma": "es5",
  "plugins": ["@prettier/plugin-oxc", "@ianvs/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": ["**/*.{js,mjs,cjs,jsx}"],
      "options": {
        "parser": "oxc"
      }
    },
    {
      "files": ["**/*.{ts,mts,cts,tsx}"],
      "options": {
        "parser": "oxc-ts"
      }
    },
    {
      "files": ["**/*.spec.ts"],
      "options": {
        "printWidth": 160
      }
    }
  ]
}
