# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '5 0 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v9
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue is considered Stale and will be automatically closed in 14 days unless more info is provided'
        stale-pr-message: 'Stale pull request message'
        stale-issue-label: 'stale-issue'
        stale-pr-label: 'stale-PR'
        days-before-stale: 60
        days-before-close: 7
        exempt-issue-labels: 'wip,pending triage,keep open,pinned,security'
